.code-editor {
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}

.note-marker {
    position: absolute;
    background-color: #fff0bc;
}

.selected-note-marker {
    position: absolute;
    background-color: #f69c00;
    z-index: 10;
}
